<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <title th:text="${formName}"></title>
</head>

<body>
    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-5">
                <div th:insert="~{templates :: logging}"></div>

                <h1 class="text-center mb-4" th:text="${formName}"></h1>

                <form id="form">
                    <div class="mb-3" th:each="setting : ${values}">
                        <label th:for="${setting.key}" class="form-label" th:text="${setting.name}"></label>
                        <!-- <div th:if="${setting.description != null}">
                            <small class="form-text text-muted" th:text="${setting.description}"></small>
                        </div> -->
                        <div th:if="${setting.options != null}">
                            <select class="form-select" th:id="${setting.key}" th:name="${setting.key}">
                                <option th:each="option : ${setting.options}" th:value="${option}" th:text="${option}"
                                    th:selected="${setting.value != null and setting.value.toString().equals(option)}">
                                </option>
                            </select>
                        </div>
                        <div th:unless="${setting.options != null}">
                            <input type="text" class="form-control" th:id="${setting.key}" th:name="${setting.key}"
                                th:type="${setting.secret ? 'password' : 'text'}" th:value="${setting.value}" />
                        </div>
                    </div>

                    <div class="d-grid gap-2 d-sm-flex justify-content-sm-start mt-4">
                        <button type="submit" id="submitButton" class="btn btn-primary">Submit</button>
                        <a th:href="@{${callback}}" class="btn btn-secondary ms-sm-2">Return</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <input type="hidden" id="callback" th:value="${callback}" />
    <input type="hidden" id="postUrl" th:value="${postUrl}" />

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        document.getElementById('form').addEventListener('submit', async function (event) {
            event.preventDefault(); // Prevent the default form submission

            const form = event.target;
            const formData = new FormData(form);
            const postUrl = document.getElementById('postUrl').value;
            const callback = document.getElementById('callback').value;
            const submitButton = document.getElementById('submitButton');

            // Construct the choices object
            const choices = {};
            formData.forEach((value, key) => {
                if (value) { // Only add if there's a value
                    choices[key] = value;
                }
            });

            // Change button to loading state
            submitButton.innerHTML = '<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...';
            submitButton.disabled = true;

            try {
                const response = await fetch(postUrl, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json' // Specify JSON content type
                    },
                    body: JSON.stringify(choices) // Send the choices as JSON
                });

                if (response.ok) {
                    console.info("Successfully changed settings, redirecting...");
                    window.location.href = callback; // Redirect if successful
                } else {
                    console.error('Processing error:', response.status, await response.text());
                }
            } catch (error) {
                console.error('Fetch error:', error);
            } finally {
                // Reset button to its original state
                submitButton.innerHTML = 'Submit';
                submitButton.disabled = false;
            }
        });
    </script>
</body>

</html>