<!-- logging-messages.html -->
<div th:fragment="logging">
    <div th:if="${info}" class="alert alert-info alert-dismissible fade show" role="alert" th:text="${info}">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <div th:if="${debug}" class="alert alert-secondary alert-dismissible fade show" role="alert" th:text="${debug}">
        <!-- Using secondary for debug -->
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <div th:if="${warn}" class="alert alert-warning alert-dismissible fade show" role="alert" th:text="${warn}">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <div th:if="${error}" class="alert alert-danger alert-dismissible fade show" role="alert" th:text="${error}">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
</div>