<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}" />
    <title>Music Library</title>
</head>

<body>
    <div th:insert="~{templates :: logging}"></div>
    <h1>Music Library</h1>
    <button type="button" th:onclick="window.location.href=@{${callback}}">Return</button>

    <div class="likedsongs">
        <h2 th:text="'Liked songs (' + ${likedsongs.size()} + ')'"></h2>
        <button onclick="toggleVisibility('likedSongsContent', this)">Expand</button>
        <div id="likedSongsContent" style="display: none; overflow: hidden;">
            <div class="song" th:each="song : ${likedsongs.getSongs()}">
                <img class="coverImage" th:src="${song.getCoverImage()}" th:alt="${song.toString()}" loading="lazy">
                <div class="details">
                    <h3 th:text="${song.toString()}"></h3>
                    <p th:text="'Artists: ' + ${song.getArtists()}"></p>
                    <p th:text="'Duration: ' + ${T(ryzen.ownitall.util.MusicTools).musicTime(song.getDuration())}"></p>
                </div>
            </div>
        </div>
    </div>
    <hr>

    <div class="albums">
        <h2 th:text="'Albums (' + ${albums.size()} + ')'"></h2>
        <button onclick="toggleVisibility('albumsContent', this)">Expand</button>
        <div id="albumsContent" style="display: none; overflow: hidden;">
            <div class="album" th:each="album : ${albums}">
                <img class="coverImage" th:src="${album.getCoverImage()}" th:alt="${album.toString()}" loading="lazy">
                <h3 th:text="${album.toString()}"></h3>
                <button th:onclick="'toggleVisibility(' + ${album.hashCode()} + ', this)'">Expand</button>
                <div th:id="${album.hashCode()}" style="display: none; overflow: hidden;">
                    <div class="details">
                        <p th:text="'Artists: ' + ${album.getArtists()}"></p>
                        <p
                            th:text="'Duration: ' + ${T(ryzen.ownitall.util.MusicTools).musicTime(album.getTotalDuration())}">
                        </p>
                    </div>
                    <div class="song" th:each="song : ${album.getSongs()}">
                        <img class="coverImage" th:src="${song.getCoverImage()}" th:alt="${song.toString()}"
                            loading="lazy">
                        <div class="details">
                            <h4 th:text="${song.toString()}"></h4>
                            <p th:text="'Artists: ' + ${song.getArtists()}"></p>
                            <p
                                th:text="'Duration: ' + ${T(ryzen.ownitall.util.MusicTools).musicTime(song.getDuration())}">
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>

    <div class="playlists">
        <h2 th:text="'Playlists (' + ${playlists.size()} + ')'"></h2>
        <button onclick="toggleVisibility('playlistsContent')">Expand</button>
        <div id="playlistsContent" style="display: none; overflow: hidden;">
            <div class="playlist" th:each="playlist : ${playlists}">
                <img class="coverImage" th:src="${playlist.getCoverImage()}" th:alt="${playlist.toString()}"
                    loading="lazy">
                <h3 th:text="${playlist.toString()}"></h3>
                <button th:onclick="'toggleVisibility(' + ${playlist.hashCode()} + ', this)'">Expand</button>
                <div th:id="${playlist.hashCode()}" style="display: none; overflow: hidden;">
                    <div class="details">
                        <p
                            th:text="'Duration: ' + ${T(ryzen.ownitall.util.MusicTools).musicTime(playlist.getTotalDuration())}">
                        </p>
                    </div>
                    <div class="song" th:each="song : ${playlist.getSongs()}">
                        <img class="coverImage" th:src="${song.getCoverImage()}" th:alt="${song.toString()}"
                            loading="lazy">
                        <div class="details">
                            <h4 th:text="${song.toString()}"></h4>
                            <p th:text="'Artists: ' + ${song.getArtists()}"></p>
                            <p
                                th:text="'Duration: ' + ${T(ryzen.ownitall.util.MusicTools).musicTime(song.getDuration())}">
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        function toggleVisibility(id, button) {
            var content = document.getElementById(id);
            if (content === null) {
                //TODO: visible error message?
                console.log("Unable to find content with id " + id);
                return;
            }
            if (content.style.display === "none") {
                content.style.display = null;
                content.style.overflow = null;
                button.textContent = "Shrink";
            } else {
                content.style.display = "none";
                content.style.overflow = "hidden";
                button.textContent = "Expand";
            }
        }
    </script>
</body>

</html>