<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:text="${loginName}"></title>
</head>

<body>
    <h1 th:text="${loginName}"></h1>
    <form th:action="@{/method/login}" method="get">
        <div th:each="entry : ${loginFields}">
            <label th:for="${entry}" th:text="${entry}"></label>
            <input type="text" th:id="${entry}" th:name="${entry}">
            <br>
        </div>
        <button type="submit">Login</button>
    </form>
</body>

</html>