<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${loginName}"></title>
</head>

<body>
    <div th:if="${info}" class="alert alert-info" th:text="${info}"></div>
    <div th:if="${debug}" class="alert alert-debug" th:text="${debug}"></div>
    <div th:if="${warn}" class="alert alert-warning" th:text="${warn}"></div>
    <div th:if="${error}" class="alert alert-error" th:text="${error}"></div>
    <h1 th:text="${loginName} + ' Login'"></h1>

    <form th:action="@{/method/login}" method="post">
        <input type="hidden" name="methodClass" th:value="${methodClass}">
        <input type="hidden" name="callback" th:value="${callback}">

        <div th:each="field : ${loginFields}">
            <label th:for="${field}" th:text="${field}"></label>
            <input type="password" th:id="${field}" th:name="${field}" required>
            <br>
        </div>

        <button type="submit">Login</button>
    </form>
</body>

</html>