<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Main Menu</title>
</head>

<body>
    <h1>Main Menu</h1>
    <form action="/collection" method="post">
        <button type="submit">Collection</button>
    </form>
    <form action="/save" method="post">
        <button type="submit">Save</button>
    </form>
    <form action="/tools" method="post">
        <button type="submit">Tools</button>
    </form>
    <form action="/settings" method="post">
        <button type="submit">Settings</button>
    </form>
    <form action="/exit" method="post">
        <button type="submit">Exit</button>
    </form>
</body>

</html>