<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${processName}"></title>
    <style>
        .progress-container {
            width: 100%;
            background-color: #f3f3f3;
        }

        .progress-bar {
            width: 1%;
            height: 30px;
            background-color: #4caf50;
            text-align: center;
            line-height: 30px;
            color: white;
        }
    </style>
</head>

<body>
    <div th:if="${info}" class="alert alert-info" th:text="${info}"></div>
    <div th:if="${debug}" class="alert alert-debug" th:text="${debug}"></div>
    <div th:if="${warn}" class="alert alert-warning" th:text="${warn}"></div>
    <div th:if="${error}" class="alert alert-error" th:text="${error}"></div>
    <h1 th:text="${processName}"></h1>

    <div class="progress-container">
        <div id="progress-bar" class="progress-bar">0%</div>
    </div>

    <button id="cancel-button" onclick="cancelProcess()">Cancel</button>
    <button id="back-button" style="display: none;" onclick="goBack()">Back</button>

    <script>
        let progress = 0;

        function updateProgressBar(step) {
            let progressBar = document.getElementById('progress-bar');
            progress += step;
            progressBar.style.width = progress + '%';
            progressBar.textContent = progress + '%';

            if (progress >= 100) {
                document.getElementById('cancel-button').style.display = 'none';
                document.getElementById('back-button').style.display = 'block';
            }
        }

        function cancelProcess() {
            fetch("/method/cancel", {
                method: "GET" // default, so we can ignore
            })
        }

        function goBack() {
            window.location.href = "$redirect";
        }

        // Simulate progress steps in real application, you would use AJAX to update progress dynamically
        setTimeout(() => updateProgressBar(33), 1000);
        setTimeout(() => updateProgressBar(33), 2000);
        setTimeout(() => updateProgressBar(34), 3000);
    </script>
</body>

</html>